<div class="row">
	<div class="col-md-12 d-flex d-lg-none">
		<button class='btn btn-link text-primary btn-lg go-back'><i class='fa fa-caret-left'></i> Back</button>
	</div>
</div>
<div class="row border m-2 flex-column thread-message" style="box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; min-height:70vh;" data-thread="{{this.thread_id}}">
	<div class="col-md-12 message-header border-bottom bg-darken d-flex justify-content-between">
		<h5>{{#if this.thread_with}}Message history with {{this.thread_with.display_name}}{{else}}Waiting for Admin...{{/if}}</h5>
		<span>
			<button class='btn btn-just-icon btn-round btn-danger delete-thread'><i class='fa fa-trash'></i></button>
			<button class='btn btn-round btn-danger delete-confirm' style="display:none;"><i class='fa fa-trash'></i> Delete</button>
			<button class='btn btn-round btn-warning delete-cancel' style="display:none;"><i class='fa fa-ban'></i> Cancel</button>
		</span>
	</div>
	<div class="col-md-12 messages flex-fill p-3" style="overflow: scroll; max-height: 65vh;">
		{{#each this.messages}}
		<div class="row m-0 pt-1 pb-2">
			{{^if this.own}}
			<div class="col-4 col-md-2 px-1">
				<span class="d-block ml-auto mr-auto" style="max-width: 150px !important; max-height: 150px !important;">
					<img class="img-raised rounded-circle img-fluid"
						style="height: auto; min-width: 100%; max-width: 100% !important; max-height: 100% !important;"
						src="{{#if this.user.picture}}{{this.user.picture}}{{else}}https://s3-ap-southeast-2.amazonaws.com/onstage-storage/placeholder.png{{/if}}"
						alt="{{this.thread.display_name}}"
					>
				</span>
			</div>
			{{/if}}
			<div class="col-8 {{#if this.own}}offset-sm-none offset-md-2 bg-primary message-own{{else}}bg-success message-other{{/if}} text-white p-3">
				<p>
					{{this.content}}
				</p>
				<div class="w-100 d-flex justify-content-end">
					<span><strong>{{this.date}}</strong></span>
				</div>
			</div>
			{{#if this.own}}
			<div class="col-4 col-md-2 px-1">
				<span class="d-block ml-auto mr-auto" style="max-width: 150px !important; max-height: 150px !important; height: 100%;">
					<img class="img-raised rounded-circle"
						style="min-width: 100%; max-width: 100% !important; max-height: 100% !important; height:100%;"
						src="{{#if this.user.picture}}{{this.user.picture}}{{else}}https://s3-ap-southeast-2.amazonaws.com/onstage-storage/placeholder.png{{/if}}"
						alt="{{this.user.display_name}}"
					>
				</span>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</div>
	<div class="col-md-12 chatbox border-top bg-darken">
		<div class="form-group pt-3">
			<label>New Message</label>
			<div class="input-group">
				<textarea class="form-control" id="new-message" rows="3"></textarea>
				<span class="input-group-btn d-flex align-items-center">
					<button class='btn btn-round btn-primary btn-raised send-message'><i class="material-icons">send</i> Send</button>
				</span>
			</div>
            <div class="row" style="display:none;">
                <div class="col-md-12">
                    <p class="messageStatus"></p>
                </div>
            </div>
		</div>
	</div>
</div>
