<div class="row border m-3 flex-column" style="box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; min-height:70vh;">
	<div class="col-md-12 message-header border-bottom bg-darken">
		<h5>{{#if this.thread_with}}Message history with {{this.thread_with.display_name}}{{else}}Waiting for Admin...{{/if}}</h5>
	</div>
	<div class="col-md-12 messages flex-fill p-3" style="overflow: scroll;">
		{{#each this.messages}}
		<div class="row m-0">
			{{^if this.own}}
			<div class="col-1">
				<span class="d-block ml-auto mr-auto" style="max-width: 150px !important;">
					<img class="img-raised rounded-circle img-fluid"
						style="height: auto; min-width: 100%; max-width: 100% !important;"
						src="{{#if this.picture}}{{this.picture}}{{else}}https://s3-ap-southeast-2.amazonaws.com/onstage-storage/placeholder.png{{/if}}"
						alt="{{this.display_name}}"
					>
				</span>
			</div>
			{{/if}}
			<div class="col-9 {{#if this.own}}offset-2 bg-primary message-own{{else}}bg-success message-other{{/if}} text-white p-3">
				<p>
					{{this.content}}
				</p>
				<div class="w-100 d-flex justify-content-end">
					<span><strong>{{this.date}}</strong></span>
				</div>
			</div>
			{{#if this.own}}
			<div class="col-1">
				<span class="d-block ml-auto mr-auto" style="max-width: 150px !important;">
					<img class="img-raised rounded-circle img-fluid"
						style="height: auto; min-width: 100%; max-width: 100% !important;"
						src="{{#if this.user.picture}}{{this.user.picture}}{{else}}https://s3-ap-southeast-2.amazonaws.com/onstage-storage/placeholder.png{{/if}}"
						alt="{{this.user.display_name}}"
					>
				</span>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</div>
	<div class="col-md-12 chatbox border-top bg-darken">
		<div class="form-group pt-3">
			<label>New Message</label>
			<div class="input-group">
				<textarea class="form-control" id="new-message" rows="3"></textarea>
				<span class="input-group-btn d-flex align-items-center">
					<button class='btn btn-round btn-primary btn-raised'><i class='fa fa-envelope'></i> Send</button>
				</span>
			</div>
		</div>
	</div>
</div>
