</div>
</div>
<footer class="footer">
    <div class="container">
		<nav class="float-left">
            <ul>
                <li>
                    <a href="/terms_and_conditions">T&Cs</a>
                </li>
                <li>
                    <a href="/privacy_policy">Privacy Policy</a>
                </li>
                <li>
                    <a href="/contact_us">Contact Us</a>
                </li>
                {{#if this.user.golden_ticket}}
                    <li>
                        <a href="#ticketModal" data-toggle="modal"><i class="fa fa-ticket"></i> Ticket</a>
                    </li>
                {{/if}}
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy; <span class='current-year'></span>, On Stage. Developed by The Musketeers
        </div>
    </div>
</footer>
</wrapper>

{{#if this.user.golden_ticket}}
    <div class="modal fade" tabindex="-1" role="dialog" id="ticketModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">You found a golden ticket!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Press a button below to change the type of user you are. You are currently role
                        is {{this.user.type_name}}</p>
                </div>
                <div class="modal-footer">
                    {{^compare this.user.type_id 1}}
                        <button type="button" class="btn btn-primary btn-round mx-2 changeUserType" data-type="1">
                            Admin
                        </button>{{/compare}}
                    {{^compare this.user.type_id 2}}
                        <button type="button" class="btn btn-primary btn-round mx-2 changeUserType" data-type="2">Band
                        </button>{{/compare}}
                    {{^compare this.user.type_id 3}}
                        <button type="button" class="btn btn-primary btn-round mx-2 changeUserType" data-type="3">
                            Musician
                        </button>{{/compare}}
                </div>
            </div>
        </div>
    </div>
{{/if}}

<div class="modal fade" tabindex="-1" role="dialog" id="change_password_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Current Password *:</label>
                                <input id="current_password" type="password" class="form-control" required>
                                <small class="form-text text-danger"></small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">New Password *:</label>
                                <input id="password_new" type="password" class="form-control password" required>
                                <div class="password-meter"></div>
                                <small class="form-text text-danger"></small>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Confirm New Password *:</label>
                                <input id="password_confirm_new" type="password" class="form-control password" required>
                                <small class="form-text text-danger"></small>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="change_password_status text-center"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class='row w-100'>
                    <div class='col-md-12 change_password_buttons'>
						<input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class='w-100 d-flex justify-content-between'>
                            <button type="button" class="btn btn-warning btn-round mx-2" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary btn-round mx-2 change_password">Change</button>
                        </div>
                    </div>
                    <div class='col-md-12 change_password_pending' style="display: none !important;">
							<span class='d-flex align-items-center justify-content-center w-100'>
								<span class='d-inline-block mr-3'>Changing your password </span>
								<i class="fa fa-cog fa-spin fa-2x"></i>
							</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="__csrf" value="{{csrfToken}}">

<div class="loading-indicator flex-fill {{^if this.showIndicator}}d-none{{/if}}">
    <div class="d-flex align-items-center h-100">
        <div class="container">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <h3 class="loading-status">{{#if this.showIndicator}}{{this.showIndicator}}{{/if}}</h3>
        </div>
    </div>
</div>

<script src="/public/js/core/jquery-3.3.1.js" type="text/javascript" defer></script>
<script src="/public/js/core/popper.min.js" type="text/javascript" defer></script>
<script src="/public/js/core/bootstrap-material-design.min.js" type="text/javascript" defer></script>
<script src="/public/js/core/handlebars.js" type="text/javascript" defer></script>
<script src="/public/js/plugins/moment.min.js" type="text/javascript" defer></script>
<script src="/public/js/plugins/bootstrap-datetimepicker.js" type="text/javascript" defer></script>
<script src="/public/js/plugins/nouislider.min.js" type="text/javascript" defer></script>
<script src="/public/js/plugins/zxcvbn.js" type="text/javascript" defer></script>
<script src="/public/js/plugins/jasny-bootstrap.js" type="text/javascript" defer></script>
<script src="/public/js/plugins/jquery.sharrre.js" type="text/javascript" defer></script>
<script src="/public/js/plugins/select2.full.min.js" type="text/javascript" defer></script>
<script src="/public/js/core/material-kit.js?v=2.0.4" type="text/javascript" defer></script>
<script src="/public/js/core/app.js" type="text/javascript" defer></script>
<script src="/public/js/plugins/jquery.twbsPagination.min.js" type="text/javascript" defer></script>

<link rel="stylesheet" href="/public/css/material-kit.css?v=2.0.4" />

<noscript id="deferred-styles">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

	<link rel="stylesheet" href="/public/css/select2.min.css" />
	<link rel="stylesheet" href="/public/css/material-select2.css?v=2.0.4" />
	<link rel="stylesheet" href="/public/css/app.css" />
	<link rel="stylesheet" href="/public/css/bootstrap-select.css" />
</noscript>

<script>
	var loadDeferredStyles = function() {
		var addStylesNode = document.getElementById("deferred-styles");
		var replacement = document.createElement("div");
		replacement.innerHTML = addStylesNode.textContent;
		document.body.appendChild(replacement)
		addStylesNode.parentElement.removeChild(addStylesNode);
	};
	var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
	if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
	else window.addEventListener('load', loadDeferredStyles);
</script>

{{#> load_files}}
{{/load_files}}

{{#if this.user.golden_ticket}}
<script src="data:text/javascript;base64,JChkb2N1bWVudCkucmVhZHkoZnVuY3Rpb24gKCkgew0KCQkJDQogICAgICAgIH0pLm9uKCJjbGlj
ayIsICIuY2hhbmdlVXNlclR5cGUiLCBmdW5jdGlvbiAoKSB7DQogICAgICAgICAgICB3aW5kb3cu
YXBwLnN3YXBUeXBlKCQodGhpcykpOw0KICAgICAgICB9KTsNCg0KICAgICAgICB3aW5kb3cuYXBw
LnN3YXBUeXBlID0gZnVuY3Rpb24gKCR0aGlzKSB7DQogICAgICAgICAgICAkKCIuY2hhbmdlVXNl
clR5cGUiKS5wcm9wKCJkaXNhYmxlZCIsIHRydWUpOw0KCQkJdmFyIGRhdGEgPSB7fTsNCgkJCWRh
dGEuX2NzcmYgPSAkKCdbbmFtZT0iX19jc3JmIl0nKS52YWwoKTsNCg0KICAgICAgICAgICAgJC5w
b3N0KCIvYXBpL3VzZXIvZ29sZGVuX3RpY2tldC8iICsgJHRoaXMuZGF0YSgpLnR5cGUsIGRhdGEs
IGZ1bmN0aW9uICgpIHsNCiAgICAgICAgICAgICAgICB3aW5kb3cubG9jYXRpb24ucmVsb2FkKCk7
DQogICAgICAgICAgICB9KS5mYWlsKGZ1bmN0aW9uICgpIHsNCiAgICAgICAgICAgICAgICAkKCIu
Y2hhbmdlVXNlciIpLnByb3AoImRpc2FibGVkIiwgZmFsc2UpOw0KICAgICAgICAgICAgfSk7DQog
ICAgICAgIH07" defer></script>
{{/if}}
{{#if this.showBase64GoldenTicketData}}
	<script>
		// This section has been converted to Base64 to allow it to be deferred
        $(document).ready(function () {

        }).on("click", ".changeUserType", function () {
            window.app.swapType($(this));
        });

        window.app.swapType = function ($this) {
            $(".changeUserType").prop("disabled", true);
			var data = {};
			data._csrf = $('[name="__csrf"]').val();

            $.post("/api/user/golden_ticket/" + $this.data().type, data, function () {
                window.location.reload();
            }).fail(function () {
                $(".changeUser").prop("disabled", false);
            });
        };
    </script>
{{/if}}
</body>
</html>
