<nav class="navbar fixed-top navbar-expand-lg bg-primary">
	{{> navbar}}
</nav>
{{#if this.user}}{{#compare this.user.email_verified 0}}
<div class='alert alert-warning alert-dismissible fade show email_verification_warning' role="alert">
	<div class="container">
		<strong>Your email isn't verified yet!</strong> Please check your inbox and verify your email address. <a href="#" class="alert-link">Resend</a>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    	<span aria-hidden="true">&times;</span>
	  	</button>
	</div>
</div>
{{/compare}}{{/if}}
<div class="main flex-fill" style="padding-top: 90px;">
	<div class="container">
