<nav class="navbar fixed-top navbar-expand-lg bg-primary">
	{{> navbar}}
</nav>
{{#if this.user}}{{#compare this.user.email_verified 0}}
<div class='alert alert-warning alert-dismissible fade show email_verification_warning' role="alert">
	<div class="container d-flex justify-content-between">
		<span class="w-75">
			<strong>Your email isn't verified yet!</strong> Please check your inbox and junk, then click the link to verify your email address.
		</span>
		<span class="mr-5">
			<a href="#" class="alert-link">Resend</a>
		</span>
	</div>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{{/compare}}{{/if}}
<div class="main flex-fill" style="padding-top: 90px;">
	<div class="container">
