<div class="container">
	<a class="navbar-brand" href="/">On Stage</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="sr-only">Toggle navigation</span>
		<span class="navbar-toggler-icon"></span>
		<span class="navbar-toggler-icon"></span>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item d-md-none">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/contact_us">Contact Us</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			{{#if this.user}}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="pr-2">
						<img style="max-width: 2em;" class="img-raised rounded-circle" src="{{#if this.user.picture}}{{this.user.picture}}{{else}}https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png{{/if}}" />
					</span> Hi {{this.user.display_name}}!
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					{{#compare this.user.type_id 1}}
					<a class="dropdown-item" href="/green_room">Green Room</a>
					{{else}}
					<a class="dropdown-item" href="/my_profile">My Profile</a>
					{{/compare}}
					<a class="dropdown-item" id="logout" href="#">Logout</a>
				</div>
			</li>
			{{else}}
			<li class="nav-item">
				<a class="nav-link" href="/login">Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/register_now">Register</a>
			</li>
			{{/if}}
			<li class="nav-item">
				<a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/hashtag/onstage?f=images&vertical=default&src=hash&lang=en" target="_blank" data-original-title="Follow us on Twitter">
					<i class="fa fa-twitter"></i>
					<span class="d-md-none"> Twitter</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/search/videos/?q=%23onstage" target="_blank" data-original-title="Like us on Facebook">
					<i class="fa fa-facebook-square"></i>
					<span class="d-md-none"> Facebook</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/explore/tags/onstage" target="_blank" data-original-title="Follow us on Instagram">
					<i class="fa fa-instagram"></i>
					<span class="d-md-none"> Instragram</span>
				</a>
			</li>
		</ul>
	</div>
</div>
