<!doctype html>
<html lang="en">
	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	    <title>On Stage | Login</title>

	    <!--     Fonts and icons     -->
	    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
		<script src="/public/js/core/jquery-3.3.1.js" type="text/javascript"></script>
		<script src="/public/js/core/app.js" type="text/javascript"></script>

	    <!-- Material Kit CSS -->
	    <link href="/public/css/material-kit.css?v=2.0.4" rel="stylesheet" />
	    <link href="/public/css/app.css" rel="stylesheet" />
	</head>
	<body class="login-page sidebar-collapse" style="background-image: url('/public/img/bg-new.jpg'); background-size: cover; background-position: top center;">
		<nav class="navbar fixed-top navbar-expand-lg navbar-transparent">
		    <div class="container">
		        <a class="navbar-brand" href="/">On Stage</a>
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="navbar-toggler-icon"></span>
		            <span class="navbar-toggler-icon"></span>
		            <span class="navbar-toggler-icon"></span>
		        </button>
		        <div class="collapse navbar-collapse" id="navbarText">
		            <ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/hashtag/onstage?f=images&vertical=default&src=hash&lang=en" target="_blank" data-original-title="Follow us on Twitter">
								<i class="fa fa-twitter"></i>
								<span class="d-md-none"> Twitter</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/search/videos/?q=%23onstage" target="_blank" data-original-title="Like us on Facebook">
								<i class="fa fa-facebook-square"></i>
								<span class="d-md-none"> Facebook</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/explore/tags/onstage" target="_blank" data-original-title="Follow us on Instagram">
								<i class="fa fa-instagram"></i>
								<span class="d-md-none"> Instragram</span>
							</a>
						</li>
		            </ul>
		        </div>
		    </div>
		</nav>
		<div class="page-header header-filter">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
		                <div class="card card-login">
							<div class="card-header card-header-primary text-center">
								<h4 class="card-title">Log in to</h4>
								<h2>On Stage</h2>
							</div>
		                    <div class="card-body px-2" id="loginForm">
		                        <div class='row'>
		                            <div class='col-md-12'>
		                                <div class="form-group bmd-form-group">
		                                    <label class="pl-5 ml-2 bmd-label-floating">Username</label>
		                                    <div class="input-group mt-0">
		                                        <div class="input-group-prepend">
													<span class="input-group-text">
														<i class="material-icons">face</i>
													</span>
		                                        </div>
		                                        <input id="username" type="text" class="form-control" required>
		                                    </div>
		                                </div>
		                            </div>
		                            <div class='col-md-12'>
		                                <div class="form-group bmd-form-group">
		                                    <label class="pl-5 ml-2 bmd-label-floating">Password</label>
		                                    <div class="input-group mt-0">
		                                        <div class="input-group-prepend">
													<span class="input-group-text">
														<i class="material-icons">lock_outline</i>
													</span>
		                                        </div>
		                                        <input id="password" type="password" class="form-control" required>
		                                    </div>
		                                </div>
		                            </div>
		                            <div class='col-md-12 mb-3'>
		                                <div class='loginStatus text-center p-2'></div>
		                            </div>
		                            <div class='col-md-12 d-flex justify-content-center'>
		                                <button id="login" class="btn btn-primary btn-wd btn-lg w-50">Log In</button>
		                            </div>
		                        </div>
		                        <hr />
		                        <div class="row">
		                            <div class="col-md-12 text-center mb-3">
		                                <h4 class="d-block">New around here?</h4>
		                                <a href="/register_now" class='btn btn-primary btn-wd btn-lg w-50'>Join Now</a>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="card-body px-2" id="loginStatus" style="display:none;">
		                        <div class='row my-4'>
		                            <div class="col-md-12 text-center">
		                                <h2>Logging In <i class="fa fa-spinner fa-spin"></i> </h2>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

		<!--   Core JS Files   -->
		<script src="/public/js/core/popper.min.js" type="text/javascript"></script>
		<script src="/public/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
		<script src="/public/js/plugins/moment.min.js"></script>
		<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
		<script src="/public/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
		<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
		<script src="/public/js/plugins/nouislider.min.js" type="text/javascript"></script>
		<!--	Plugin for Sharrre btn -->
		<script src="/public/js/plugins/jquery.sharrre.js" type="text/javascript"></script>
		<!-- Control Center for Material Kit-->
		<script src="/public/js/core/material-kit.js?v=2.0.4" type="text/javascript"></script>

		<script>
		    $(document).ready(function() {
		    }).on("click", "#login", function() {
		        app.login();
		    }).on("keyup", "#username", function(event) {
		        if (event.keyCode == 13) $('#password').focus();
		    }).on("keyup", "#password", function(event) {
		        if (event.keyCode == 13) app.login();
		    });
		    var app = {};
		    app.login = function() {
		        $(".loginStatus").empty();
		        $("#loginStatus").show();
		        $("#loginForm").hide();
		        $(".has-danger").removeClass("has-danger");

				var data = {
		            username: $("#username").val(),
		            password: $("#password").val(),
		        };

		        if ( String.isNullOrEmpty(data.username) || String.isNullOrEmpty(data.password) ) {
		            if ( String.isNullOrEmpty(data.username) ) {
		                $("#username").closest(".form-group").addClass("has-danger");
		                $(".loginStatus").append("<p class='text-danger'>Username can't be blank!</p>");
		            }
		            if ( String.isNullOrEmpty(data.password) ) {
		                $("#password").closest(".form-group").addClass("has-danger");
		                $(".loginStatus").append("<p class='text-danger'>Password can't be blank!</p>");
		            }
		            setTimeout(function() {
		                $("#loginStatus").hide();
		                $("#loginForm").show();
		            }, 500);
		        } else {
		            $.post("/login", data, function(res) {
		                window.setTimeout(function() {
		                    window.location.reload();
		                }, 250);
		            }).fail(function(error) {
		                setTimeout(function() {
		                    $("#loginStatus").hide();
		                    $("#loginForm").show();
		                }, 500);
		                if ( error.status == 401 && ("responseJSON" in error) ) {
		                    $(".loginStatus").append("<p class='text-danger'>" + error.responseJSON.message + "</p>");
		                } else {
		                    console.log("Login Error", error);
		                }
		            });
		        }
		    };
		</script>
	</body>
</html>
