<a class="w-100 d-block my-3" href="/user/{{this.user_id}}" target="_blank">
	<div class="row border-bottom border-top py-2">
		<div class='col-md-3'>
			<div class='w-100 d-flex justify-content-center'>
				<img class="img-raised rounded-circle img-fluid image-picture" style="min-height: 150px; min-width: 150px; max-height: 150px; max-width: 150px;" src="{{#if this.picture}}{{this.picture}}{{else}}https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png{{/if}}" alt="{{this.display_name}}">
			</div>
		</div>
		<div class='col-md-9'>
			<h4>{{this.display_name}}</h4>
			<p>{{this.about}}</p>
		</div>
	</div>
</a>
