body, wrapper {
   min-height:100vh;
    background-color: whitesmoke;
}

.flex-fill {
   flex:1 1 auto;
}

.search-form select {
    font-size: 18px;
    height: 49px;
    padding-right: 15px;
    float: left;
    margin-right: 18px;
}

.onStageHeaderFont {
   font-family: 'Archivo Black', sans-serif;   
}

.card {
   margin-top:150px;
}

.loginbtns {
    background-color: red;
}

.loginbg {
    background-color: transparent;
}

.copyright, .copyright a {
    color: black;
}