body, wrapper {
	min-height: 100vh;
	background-color: whitesmoke;
}

.flex-fill {
	flex: 1 1 auto;
}

table.dataTable tbody td {
    vertical-align: middle;
    padding-top: 0.20rem;
    padding-bottom: 0.20rem;
}

.unverified-email {
	z-index:2000;
}
.unverified-email.email_verification_warning {
	margin-top: 70px;
}

.profile-page .profile img {
	max-width: 300px;
	max-height: 300px;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

/* Password Strength Meter */
.password-meter {
	padding: 2px 0;
	width: 100%;
	height: 1em;
}
.password-meter span {
	display: block;
	height: 4px;
	transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
}
.password-meter span.strength-0 {
	width: 20% !important;
	background: #D50000;
}
.password-meter span.strength-1 {
	width: 40% !important;
	background: #FF6D00;
}
.password-meter span.strength-2 {
	width: 60% !important;
	background: #FFAB00;
}
.password-meter span.strength-3 {
	width: 80% !important;
	background: #FFD600;
}
.password-meter span.strength-4 {
	width: 100% !important;
	background: #AEEA00;
}


/* File Upload Button Styling */
.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle
}

.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    direction: ltr
}

.fileinput {
    display: inline-block;
    margin-bottom: 9px
}

.fileinput .form-control {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text
}

.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    max-width: 360px
}

.fileinput .thumbnail.img-circle {
    border-radius: 50%;
    max-width: 100px
}

.fileinput .thumbnail > img {
    max-height: 100%;
    width: 100%
}

.fileinput .btn {
    vertical-align: middle
}

.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
    display: none
}

.fileinput-inline .fileinput-controls {
    display: inline
}

.fileinput-filename {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle
}

.form-control .fileinput-filename {
    vertical-align: bottom
}

.fileinput.input-group {
    display: table
}

.fileinput.input-group > * {
    position: relative;
    z-index: 2
}

.fileinput.input-group > .btn-file {
    z-index: 1
}

.fileinput-new.input-group .btn-file, .fileinput-new .input-group .btn-file {
    border-radius: 0 4px 4px 0
}

.fileinput-new.input-group .btn-file.btn-sm, .fileinput-new .input-group .btn-file.btn-sm,
.fileinput-new.input-group .btn-file.btn-xs, .fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new.input-group .btn-group-sm > .btn-file.btn, .fileinput-new .input-group .btn-group-sm > .btn-file.btn {
    border-radius: 0 3px 3px 0
}

.fileinput-new.input-group .btn-file.btn-lg, .fileinput-new .input-group .btn-file.btn-lg,
.fileinput-new.input-group .btn-group-lg > .btn-file.btn, .fileinput-new .input-group .btn-group-lg > .btn-file.btn {
    border-radius: 0 6px 6px 0
}

.form-group.has-warning .fileinput .fileinput-preview {
    color: #ff9800
}

.form-group.has-warning .fileinput .thumbnail {
    border-color: #ff9800
}

.form-group.has-error .fileinput .fileinput-preview {
    color: #f44336
}

.form-group.has-error .fileinput .thumbnail {
    border-color: #f44336
}

.form-group.has-success .fileinput .fileinput-preview {
    color: #4caf50
}

.form-group.has-success .fileinput .thumbnail {
    border-color: #4caf50
}

.input-group-addon:not(:first-child) {
    border-left: 0
}

.thumbnail {
    border: 0 none;
    border-radius: 0;
    padding: 0
}

/* Spinner */
.loading-indicator {
	width:100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0;
	background: #2196f3;
	z-index: 5000;
}
.loading-indicator .container {
	z-index:5001;
}
.loading-indicator .loading-status {
	text-align: center;
	color: white;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


.avatar .mask {
    opacity:0;
    -webkit-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;

	transform: translate3d(0, -50%, 0);
}
.avatar .mask:hover {
    opacity:1
}
.avatar .mask {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow:hidden;
    width:100%;
    height:100%;
    background-attachment:fixed
}
.avatar .mask .layer {
	display: block;
	max-width: 300px;
	max-height: 300px;
	width: 100%;
	height: 100%;
	margin: 0 auto;

	top: 50%;
	left: 50%;
	background-color: rgba(33, 150, 243, .7);
	border-radius: 50% !important;
}


.message:hover {
	color: white;
	background: #4ca9f6;
}
.message:hover small,
.message.active small {
	color: white;
}

.message.active {
	color: white;
	background: #2196f3;
}

.message-own:after {
	content: '';
	position: absolute;
	right: 0;
	top: 15%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-left-color: #2196f3;
	border-right: 0;
	border-top: 0;
	margin-top: -7.5px;
	margin-right: -15px;
}
.message-other:after {
	content: '';
	position: absolute;
	left: 0;
	top: 15%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-right-color: #4caf50;
	border-left: 0;
	border-top: 0;
	margin-top: -7.5px;
	margin-left: -15px;
}
