<script>
	$(".loading-indicator").find(".loading-status").text("Setting up...");
</script>
<div class="image-container d-flex flex-column" style="background-image: url('{{this.headerImage}}')">
    <div class="container-fluid flex-fill">
        <div class="row">
	        <div class="col-sm-8 col-lg-6 mr-auto ml-auto">
	            <div class="wizard-container">
	                <div class="card wizard-card" data-color="blue" id="wizard">
		               <form class="register-form" enctype="multipart/form-data">
		                	<div class="wizard-header">
	                        	<h3 class="wizard-title">Join On Stage</h3>
								<h5>This information will help us match you with other users.</h5>
	                    	</div>
							<div class="wizard-navigation">
								<ul>
		                            <li><a href="#basic" data-toggle="tab">Basics</a></li>
		                            <li><a href="#type" data-toggle="tab">Type</a></li>
		                            <li><a href="#personalise" data-toggle="tab">Personalise</a></li>
		                            <li><a href="#music" data-toggle="tab">Music</a></li>
		                            <li><a href="#finishing" data-toggle="tab">Finishing Up</a></li>
		                        </ul>
							</div>

	                        <div class="tab-content">
	                            <div class="tab-pane" id="basic">
	                            	<div class="row px-3">
	                                	<div class="col-md-12">
	                                    	<h4 class="info-text"> Let's start with the basic details  <small class='d-block'>You can change these later.</small></h4>
	                                	</div>

										<div class="col-md-6">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group bmd-form-group">
														<label class="bmd-label-floating">Display Name *:</label>
														<input id="display_name" type="text" class="form-control" required>
														<small class="form-text text-danger"></small>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group bmd-form-group">
														<label class="bmd-label-floating">Username *:</label>
														<input id="username" type="text" class="form-control" required>
														<small class="form-text text-danger"></small>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group bmd-form-group">
														<label class="bmd-label-floating">Email *:</label>
														<input id="email" type="text" class="form-control" required>
														<small class="form-text text-danger"></small>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group bmd-form-group">
														<label class="bmd-label-floating">Password *:</label>
														<input id="password" type="password" class="form-control password" required>
														<div class="password-meter"></div>
													</div>
													<p class="password-strength"></p>
												</div>
												<div class="col-md-12">
													<div class="form-group bmd-form-group">
														<label class="bmd-label-floating">Confirm Password *:</label>
														<input id="passwordConfirm" type="password" class="form-control password" required>
													</div>
													<p class="password-status"></p>
												</div>
												<div class="col-md-12">
													<div class="form-group bmd-form-group">
						                                <label for="postcode">Location *:</label>
						                                <select class="select2-postcode js-states form-control" id="postcode" required></select>
		                                                <small class="form-text text-danger"></small>
						                            </div>
												</div>
												<div class="col-md-12">
													<div class="form-group bmd-form-group">
														<label class="d-block font-weight-bold">Current Status *:</label>
														{{#each this.criteria.status}}
														<div class="form-check form-check-radio form-check-inline">
															<label class="form-check-label" for="status_{{this.id}}">
																<input class="form-check-input" type="radio" name="status" id="status_{{this.id}}" value="{{this.id}}"> {{this.name}}
																<span class="circle">
																	<span class="check"></span>
																</span>
															</label>
														</div>
														{{/each}}
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6 d-flex justify-content-center">
											<div class="form-group bmd-form-group">
												<label class="d-block w-100">Profile Picture:</label>
												<div class="fileinput fileinput-new text-center" data-provides="fileinput">
													<div class="fileinput-new thumbnail img-raised">
														<img src="https://s3-ap-southeast-2.amazonaws.com/onstage-storage/placeholder.png" alt="Default profile image">
													</div>
													<div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
													<div>
														<span class="btn btn-raised btn-round btn-default btn-file">
															<span class="fileinput-new" data-trigger="fileinput">Select image</span>
															<span class="fileinput-exists" data-trigger="fileinput">Change</span>
															<input type="file" name="profile" id="profile" accept="image/*" />
														</span>
														<a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
													</div>
												</div>
											</div>
										</div>
	                            	</div>
	                            </div>
	                            <div class="tab-pane" id="type">
	                                <div class="row">
										<div class='col-md-12'>
											<h4 class="info-text">What type of profile would you like? <small class='d-block'>You can't change this later!</small></h4>
										</div>
	                                    <div class="col-sm-10 ml-auto mr-auto d-flex justify-content-around">
	                                        <div>
	                                            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you are a band.">
	                                                <input type="radio" name="type" value="band">
	                                                <div class="icon">
	                                                    <i class="fa fa-users fa-2x"></i>
	                                                </div>
	                                                <h6>Band</h6>
	                                            </div>
	                                        </div>
	                                        <div>
	                                            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you an individual musician.">
	                                                <input type="radio" name="type" value="musician">
	                                                <div class="icon">
	                                                    <i class="fa fa-user fa-2x"></i>
	                                                </div>
	                                                <h6>Musician</h6>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="tab-pane" id="personalise">
	                                <div class="row">
										<div class='col-md-12'>
											<h4 class="info-text">Make It Personal <small class='d-block'>You can change these later too!</small></h4>
										</div>
										<div class="col-md-5 ml-auto d-flex justify-content-center">
											<div class="form-group">
												<label class="d-block">Profile Background:</label>
												<div class="fileinput fileinput-new text-center" data-provides="fileinput">
													<div class="fileinput-new thumbnail img-raised">
														<img src="{{this.headerImage}}" alt="Default profile background">
													</div>
													<div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
													<div>
														<span class="btn btn-raised btn-round btn-default btn-file">
															<span class="fileinput-new" data-trigger="fileinput">Select image</span>
															<span class="fileinput-exists" data-trigger="fileinput">Change</span>
															<input type="file" name="background" id="background" accept="image/*" />
														</span>
														<a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-5 mr-auto">
											<div class="form-group bmd-form-group">
												<label class="bmd-label-floating">About:</label>
												<textarea id="aboutMe" class="form-control" rows="5"></textarea>
											</div>
										</div>
									</div>
	                            </div>
	                            <div class="tab-pane" id="music">
	                                <div class="row">
										<div class="col-md-12">
											<h4 class="info-text mb-2">
												Lets Talk Music
												<span data-for="band"><small class='d-block'>Give us some more details about your band's musical experience</small></span>
   											 	<span data-for="musician"><small class='d-block'>Give us some more details about your musical experience</small></span>
											</h4>
										</div>
										<div class="col-md-10 ml-auto mr-auto">
											<div class="form-group">
												<label for="genre">Genre/s Played *: (You may choose more than one)</label>
												<select class="select2-genre js-states form-control" id="genre" multiple="multiple"></select>
											</div>
										</div>
									</div>
									<div class='row' data-for="musician">
										<div class="col-md-10 ml-auto mr-auto">
											<div class="form-group pt-2">
												<label for="instruments">Instrument/s Played *: (You may choose more than one)</label>
												<select class="select2-instrument js-states form-control" id="instruments" multiple="multiple"></select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5 offset-md-1">
											<div class="form-group pt-2">
												<label class='control-label' for='music_experience'>Music Experience *:</label>
												<select id="music_experience" class="form-control selectpicker" data-style="btn btn-link">
				                                    <option value="">Choose...</option>
				                                    {{#each this.criteria.music_experience}}
				                                        <option value="{{this.id}}">{{this.name}}</option>
				                                    {{/each}}
												</select>
											</div>
										</div>
										<div class='w-100'></div>
										<div class="col-md-5 offset-md-1">
											<div class="form-group pt-2">
												<label class='control-label'>Past Gigs *:</label>
												<select id="past_gigs" class="form-control selectpicker" data-style="btn btn-link">
				                                    <option value="">Choose...</option>
				                                    {{#each this.criteria.past_gig}}
				                                        <option value="{{this.id}}">{{this.name}}</option>
				                                    {{/each}}
												</select>
											</div>
										</div>
										<div class='w-100'></div>
										<div class="col-md-5 offset-md-1">
											<div class="form-group pt-2">
												<label>Gig Frequency*:</label>
												<select id="gig_frequency" class='form-control selectpicker' data-style="btn btn-link">
													<option value="">Choose...</option>
													{{#each this.criteria.gig_frequency}}
													<option value="{{this.id}}">{{this.name}}</option>
													{{/each}}
												</select>
											</div>
										</div>
										<div class='w-100'></div>
										<div class="col-md-5 offset-md-1">
											<div class="form-group pt-2">
												<label>Commitment Level*:</label>
												<select id="commitment_level" class='form-control selectpicker' data-style="btn btn-link">
													<option value="">Choose...</option>
													{{#each this.criteria.commitment_level}}
													<option value="{{this.id}}">{{this.name}}</option>
													{{/each}}
												</select>
											</div>
										</div>
									</div>
									<div class='row' data-for="band">
										<div class="col-md-5 offset-md-1">
											<div class="form-group">
												<label class="bmd-label-floating">Band Size *:</label>
												<input id="bandSize" type="number" class="form-control" required>
											</div>
										</div>
									</div>

	                            </div>
	                            <div class="tab-pane" id="finishing">
	                                <div class="row" data-for="band">
										<div class='col-md-12'>
											<h4 class="info-text">New Band Member/s Requirements <small class="d-block">Help us work out what kind of musicians to match you with!</small></h4>
										</div>
										<div class="col-md-10 ml-auto mr-auto">
											<div class="form-group">
												<label class="d-block">Preferred Gender *:</label>
												{{#each this.criteria.gender}}
				                                    {{#if @last}}
				                                        <div class="form-check form-check-radio form-check-inline">
				                                            <label class="form-check-label" for="gender_{{this.id}}_band">
				                                                <input class="form-check-input" type="radio" name="gender" id="gender_{{this.id}}_band" value="{{this.id}}" checked> No preference
				                                                <span class="circle">
															<span class="check"></span>
														</span>
				                                            </label>
				                                        </div>
				                                    {{else}}
				                                    <div class="form-check form-check-radio form-check-inline">
				                                        <label class="form-check-label" for="gender_{{this.id}}_band">
				                                            <input class="form-check-input" type="radio" name="gender" id="gender_{{this.id}}_band" value="{{this.id}}"> {{this.name}}
				                                            <span class="circle">
															<span class="check"></span>
														</span>
				                                        </label>
				                                    </div>
				                                    {{/if}}
												{{/each}}
											</div>
										</div>
										<div class="col-md-10 ml-auto mr-auto">
											<div class="form-group bmd-form-group">
												<label for="id_instrument_multiple">Instrument/s Required*: (You may choose more than one)</label>
												<select class="select2-instrument js-states form-control" id="required_instruments" multiple="multiple"></select>
											</div>
										</div>
                                        <div class="col-md-5 offset-md-1">
                                            <div class="form-group bmd-form-group">
                                                <label>Number of Members Needed *:</label>
                                                <input id="members_needed" type="number" class="form-control" required>
                                            </div>
                                        </div>
										<div class='w-100'></div>
										<div class="col-md-5 offset-md-1">
											<div class="form-group bmd-form-group">
												<label>Preferred Age Bracket:</label>
												<select id="preferred_age_bracket" class="form-control selectpicker" data-style="btn btn-link">
													<option value="">Choose...</option>
													{{#each this.criteria.age_bracket}}
				                                        {{#if @last}}
				                                        {{else}}
				                                            <option value="{{this.id}}">{{this.name}}</option>
				                                        {{/if}}
													{{/each}}
												</select>
											</div>
										</div>
										<div class='w-100'></div>
										<div class="col-md-5 offset-md-1">
											<div class="form-group bmd-form-group">
												<label>Required Music Experience:</label>
												<select id="required_music_experience" class="form-control selectpicker" data-style="btn btn-link">
													<option value="">Choose...</option>
				                                    {{#each this.criteria.music_experience}}
				                                        <option value="{{this.id}}">{{this.name}}</option>
				                                    {{/each}}
												</select>
											</div>
										</div>
										<div class='w-100'></div>
										<div class="col-md-5 offset-md-1">
											<div class="form-group bmd-form-group">
												<label>Past Gigs:</label>
												<select id="required_past_gigs" class="form-control selectpicker" data-style="btn btn-link">
													<option value="">Choose...</option>
				                                    {{#each this.criteria.past_gig}}
				                                        <option value="{{this.id}}">{{this.name}}</option>
				                                    {{/each}}
												</select>
											</div>
										</div>
										<div class='w-100'></div>
										<div class="col-md-5 offset-md-1">
											<div class="form-group bmd-form-group">
												<label>Gig Availability:</label>
												<select id="required_gig_frequency" class='form-control selectpicker' data-style="btn btn-link">
													<option value="">Choose...</option>
													{{#each this.criteria.gig_frequency}}
													<option value="{{this.id}}">{{this.name}}</option>
													{{/each}}
												</select>
											</div>
										</div>
										<div class='w-100'></div>
										<div class="col-md-5 offset-md-1">
											<div class="form-group bmd-form-group">
												<label>Commitment Level:</label>
												<select id="required_commitment_level" class='form-control selectpicker' data-style="btn btn-link">
													<option value="">Choose...</option>
													{{#each this.criteria.commitment_level}}
													<option value="{{this.id}}">{{this.name}}</option>
													{{/each}}
												</select>
											</div>
										</div>
	                                </div>
	                                <div class="row" data-for="musician">
										<div class='col-md-12'>
											<h4 class="info-text">Finishing Up <small class='d-block'>Just a few small details and you're set to go!</small></h4>
										</div>
										<div class="col-md-5 offset-md-1">
											<div class="form-group">
												<label>Age Bracket *:</label>
												<select id="age_bracket" class='form-control' required>
													<option value="">Choose...</option>
													{{#each this.criteria.age_bracket}}
													<option value="{{this.id}}">{{this.name}}</option>
													{{/each}}
												</select>
											</div>
										</div>
										<div class='w-100'></div>
										<div class="col-md-10 ml-auto mr-auto">
											<div class="form-group bmd-form-group">
												<label class="d-block">Gender *:</label>
												{{#each this.criteria.gender}}
												<div class="form-check form-check-radio">
													<label class="form-check-label" for="gender_{{this.id}}">
														<input class="form-check-input" type="radio" name="gender" id="gender_{{this.id}}" value="{{this.id}}"> {{this.name}}
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												{{/each}}
											</div>
										</div>
	                                </div>
									<hr />
									<div class="row">
										<div class="col-md-10 mt-3 ml-auto mr-auto">
											<p>To join On Stage you must comply with our <a href="/terms_and_conditions" target="_blank">Terms &amp; Conditions</a> and agree with our <a href="privacy_policy" target="_blank">Privacy Policy</a>.</p>
											<div class="form-group">
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" name="agree" id="agree" value="yes">
														By ticking this box you agree to the Terms &amp; Conditions and the Privacy Policy of On Stage.
														<span class="form-check-sign">
															<span class="check"></span>
														</span>
													</label>
												</div>
											</div>
										</div>
									</div>
	                            </div>
	                        </div>
	                        <div class="wizard-footer">
								<div class="w-100 text-center">
									<p class="form-status"></p>
								</div>
								<div class="d-flex justify-content-between w-100">
									<input type="hidden" name="_csrf" value="{{csrfToken}}">
									<div class="d-flex justify-content-start">
										<input type='button' class='btn btn-previous btn-secondary btn-round btn-raised btn-lg' name='previous' value='Previous' />
									</div>
									<div class="d-flex justify-content-end">
										<input type='button' class='btn btn-next btn-primary btn-round btn-raised btn-lg' name='next' value='Next' />
	                                    <button class='btn btn-finish btn-primary btn-round btn-raised btn-lg' id="submit">Join Now</button>
									</div>
								</div>
	                        </div>
		                </form>
	                </div>
	            </div>
	        </div>
        </div>
    </div>

    <div class="footer"></div>
</div>

<div><div>

{{#*inline "load_files"}}
<link href="/public/css/material-bootstrap-wizard.css" rel="stylesheet" />

<script src="/public/js/plugins/jquery.bootstrap.js" type="text/javascript" defer></script>
<script src="/public/js/plugins/bootstrap-selectpicker.js" type="text/javascript" defer></script>
<script src="/public/js/plugins/zxcvbn.js" type="text/javascript" defer></script>
<script src="/public/js/plugins/mailcheck.min.js" type="text/javascript" defer></script>
<script src="/public/js/app/user/register.js" type="text/javascript" defer></script>
{{/inline}}
